.description {
    width: 98%;
    height: 100%;
    position: relative;
    top: 12vh;
    overflow: hidden;
    padding-left: 2%;
    background: #A7C7E7;
    padding-bottom: 25px;
}

.description>h1 {
    margin-top: 25px;
    color:darkslateblue;
    font-weight: 800;
}

dt{
    font-size: 24px;
    font-weight: 800;
    margin-top: 15px;
}
dd{
    margin-top: 5px;
    font-size: 20px;
}

@media only screen and (max-width:750px) {
    .description>h1 {
        font-size: 26px;
    }  
    dt{
        font-size: 20px;
    }
    dd{
        font-size: 14px;
    }
    footer{
        font-size: 14px;
    }
}
@media only screen and (max-width:470px) {
    .description>h1 {
        font-size: 22px;
    }  
    .description{
        top: 8vh;
    }
    dt{
        font-size: 18px;
    }
    dd{
        font-size: 12px;
    }
}