* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
}

.hover:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* loder and error code  */
.filter {
    filter: blur(8px);
}

#loaderHolder,
#errorDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#message{
    position: relative;
    top: 7vh;
    width: 100%;
    height: 90%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    font-size: 10px;
}

#loader,
#message {
    z-index: 2;
    display: none;
}

#message {
    font-size: 65px;
    font-weight: 800;
    color: red;
}


#checkBox,
#bars {
    display: none;
}

/* nav code   */

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 12vh;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    display: flex;
    gap: 45px;
}

.title>h1 {
    margin-left: 15px;
    font-size: 40px;
    font-weight: 800;
}

ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

a {
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: white;
}

.search {
    margin-right: 35px;
    display: flex;
    align-items: center;
}

#city::placeholder {
    font-size: 20px;
}

#city {
    font-size: 20px;
    padding-left: 5px;
    width: 18vw;
    height: 4.97vh;
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

#submit {
    width: 4vw;
    height: 5.4vh;
    background: rgb(82, 188, 82);
    border: 2px solid black;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}

#searchBtn {
    font-size: 18px;
    font-weight: 800;
    color: white;
}

/* main block css */

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #A7C7E7;
    top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#cityname {
    font-size: 45px;
    margin-top: 25px;
    text-transform: capitalize;
}

.mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.subContainer,
.subContainers {
    padding: 10px;
    width: 40%;
    height: 30vh;
    border-radius: 15px;
    background: #fffbf1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.subContainer {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 27%, rgba(251, 196, 78, 0.8991246156665791) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tempImg {
    width: 150px;
    height: 150px;
}

.subContainers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
}

.img {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:1400px) {
    .img {
        width: 80px;
        height: 80px;
    }

    #cityname {
        font-size: 35px;
    }

    .temp,
    #Temp {
        font-size: 23px;
    }

    .card {
        font-size: 12px;
        gap: 12px;
    }
}

@media only screen and (max-width:1000px) {
    #message {
        font-size: 50px;
    }

    .heading {
        gap: 12px;
    }

    .title>h1 {
        font-size: 30px;
    }

    ul {
        gap: 7px;
    }

    a {
        font-size: 15px;
    }

    #city::placeholder {
        font-size: 15px;
    }

    #city {
        width: 23vw;
        font-size: 18px;
    }

    .search {
        margin-right: 12px;
    }

    #searchBtn {
        font-size: 12px;
    }

    .img {
        width: 60px;
        height: 60px;
    }

    #cityname {
        font-size: 28px;
    }

    .temp,
    #Temp {
        font-size: 20px;
    }

    .card {
        font-size: 10px;
        gap: 12px;
        text-wrap: wrap;
    }
}

@media only screen and (max-width:750px) {
    .heading{
        display: flex;
        align-items: center;
    }
    .title>h1 {
        position: relative;
        right: 30px;
    }

    .search {
        position: fixed;
        right: 15%;
    }
    #bars {
        display: block;
        position: relative;
        left: 90%;
        color: white;
        font-size: 25px;
    }
    #checkBox:not(checked)~.heading ul {
        position: fixed;
        left: 100%;
        transition: left 1.5s;
    }
    #checkBox:checked~.heading ul {
        position: fixed;
        left: 80%;
        transition: left 1.2s;
    }
    .heading{
        width: 100vw;
    }
    ul {
        flex-direction: column;
        position: relative;
        width: 25%;
        height: 100vh;
        background:rgb(80, 79, 79);
        top: 12vh;
        left: 100%;
        gap: 15px;
    }
    ul li{
        margin-top: 25px;
    }
    #city {
        width: 35vw;
    }

    #message {
        font-size: 40px;
    }

    #main {
        height: 100%;
        padding-bottom: 25px;
    }

    .temp,
    #Temp {
        font-size: 24px;
    }

    .mainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .subContainer,
    .subContainers {
        width: 85%;
    }

    .card {
        width: 50%;
        font-size: 12px;
    }
}
@media only screen and (max-width:470px){
    .title>h1{
        font-size: 22px;
    }
    .search{
        right: 42px;
    }
    #city {
        height: 4.5vh;
    }
    #submit {
        width: 8vw;
        height: 5.1vh;
    }
    #bars{
        font-size: 20px;
    }
 
    .temp,#Temp{
        font-size: 20px;
    }
    #cityname{
        font-size: 25px;
    }
    .card{
        font-size: 9px;
    }
}
